.contacts {
  padding: 60px 20px;
  background-color: var(--background-dark-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.text {
  font-size: 1.125rem;
  color: var(--text-light-color);
  margin-bottom: 40px;
}

.contactInfo {
  font-size: 1.125rem;
  color: var(--primary-color);
  margin-top: 20px;
}
