.services {
  padding: 80px 20px;
  background: var(--background-color);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.divider {
  width: 100px;
  height: 4px;
  background: var(--accent-color);
  margin: 10px auto 30px;
  border-radius: 2px;
}

.search {
  width: calc(100% - 24px);
  padding: 12px;
  margin: 20px auto;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  transition: 0.3s;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
}

.modalTitle {
  font-size: 1.25rem;
  text-align: center;
}

.search:focus {
  background: rgb(255, 255, 255);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: rgb(0, 0, 0);
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 18px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 100;
}


.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px var(--shadow-color);
}

.icon {
  width: 70px;
  height: 70px;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 15px;
  box-shadow: 0 3px 10px var(--shadow-color);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.1); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 12px;
  width: 450px;
  max-width: 90%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

}

.modalContent {
  overflow-y: auto;
  max-height: 60vh;
  padding-right: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: var(--accent-color);
}

.serviceList {
  list-style: none;
  padding: 0;
}

.serviceItem {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.serviceItem h3 {
  margin: 8px 0;
}

.servicePrice {
  font-weight: bold;
  color: #007bff;
  font-size: 1.2rem;
  align-self: flex-end;
}

.noServices {
  text-align: center;
  color: gray;
  font-size: 1.2rem;
}
