:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #0d0d0d; /* Глубокий черный */
  --secondary-color: #ffffff; /* Чистый белый */
  --background-color: #f5f5f5; /* Светлый фон */
  --text-color: #0d0d0d; /* Основной цвет текста */
  --accent-color: #d81b60; /* Основной розовый */
  --accent-light: #ff80ab; /* Светлый розовый */
  --button-color: #57db5b; /* Мягкий зеленый */
  --button-text-color: #ffffff; /* Белый текст на кнопках */
  --border-color: #cccccc; /* Светлая граница */
  --link-color: #d81b60; /* Цвет ссылок */

  /* Новые цвета */
  --gradient-start: #d81b60;
  --gradient-end: #ff80ab;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

html,
body {
  margin: 0;
  padding: 0;
}

heml {
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}
