:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #ff5733; /* Основной акцентный цвет (например, для кнопок) */
  --secondary-color: #333333; /* Черный для текста и фона */
  --background-color: #f8f8f8; /* Светлый фон */
  --text-color: #333333; /* Темный текст */
  --accent-color: #ffcc00; /* Дополнительный акцент (для ссылок или выделений) */
  --button-color: #ff5733; /* Цвет кнопок */
  --button-text-color: #ffffff; /* Текст на кнопках */
  --border-color: #cccccc; /* Цвет границ */
  --link-color: #0066cc; /* Цвет ссылок */
}