.profilePage {
  padding: 40px 20px;
  background-color: var(--background-color);

  p {
    font-size: 1.5rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 18px var(--shadow-color);
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--border-color);
  margin: 20px 0;
}

.errorMessage,
.loadingMessage {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.profileHeader h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.editButton {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.editButton:hover {
  background-color: var(--accent-light);
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoItem {
  display: flex;
  flex-direction: column;
}

.infoItem label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text-color);
}

.infoItem input,
.infoItem textarea {
  font-size: 1.1rem;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: #fafafa;
  outline: none;
  transition: border 0.3s ease;
  width: auto;
}

.infoItem input:focus,
.infoItem textarea:focus {
  border-color: var(--accent-color);
}

textarea {
  resize: vertical;
  min-height: 120px;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.submitButton {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.submitButton:hover {
  background-color: var(--button-text-color);
}

.buttons {
  display: flex;
  gap: 15px;
}

.logoutButton {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.logoutButton:hover {
  opacity: .8;
}
